//Colors
$main-orange-color: #ff4500;
$orange-color-darker: #c03b0b;
$dark-color: #332f2d;
$dark-color-2: #1f1d1c;
$white-color: #fff9f6;
$white-color-50: rgb($white-color, 0.5);

//Font sizes
$font-size-biger-5: 5.4rem;
$font-size-biger-4: 4.5rem;
$font-size-biger-3: 3.7rem;
$font-size-biger-2: 3.1rem;
$font-size-biger-1: 2.16rem;
$font-size-body: 1.8rem;
$font-size-small-1: 1.5rem;
$font-size-small-2: 1.25rem;
$font-size-small-3: 0.85rem;

//White space
// (8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104 ,112, 120, 128...152)
$section-padding: 5.6rem 3rem 6.4rem 3rem;
$section-margin-bottom: 12.8rem;
$section-margin-bottom-small: 7.2rem;
$heading-margin-bottom: 4rem;
$medium-margin-bottom: 3.2rem;
$popup-margin-small: 4.8rem;
$popup-margin-big: 6.4rem 15.2rem;
$popup-padding-small: 4rem 2.4rem;
$popup-padding-big: 4rem 6.4rem;
